name: Deploy to Production

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.GCP_HOST }}
          username: ${{ secrets.GCP_USERNAME }}
          key: ${{ secrets.GCP_SSH_KEY }}
          port: 22
          script: |
            # Make the deploy script executable if it isn't already
            chmod +x ~/PrayerRequestsWall/deploy.sh
            
            # Run the deploy script
            ~/PrayerRequestsWall/deploy.sh
